:root { 
  --background-color: #f6cbb6;
  --primary-color: #ef6ea7;
  --text-color: #333;
  --secondary-color: #666666;
  --accent-color: #4ac284;
}

#root {
  /* max-width: 1280px; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
}

.navbar, .footer, .carousel-container{
  background-color: var(--background-color);
}

/* Styles for each navbar item */
.nav-item {
  margin: 0 15px;  /* Adds horizontal spacing between navigation items */
}

/* Styles for the navigation icons */
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;   /* Sets a fixed width for the icon */
  height: 70px;   /* Sets a fixed height for the icon */
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
}

/* Hover effect for the icon */
.nav-item:hover .nav-icon {
  opacity: 0.5; 
}

.link-style {
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1280px;
  text-align: center;
}

.tech-card {
  max-width: 250px;
  transition: transform 0.3s ease-in-out;
}

.tech-card:hover {
  transform: scale(1.05); 
}

.notepad-img {
  object-fit: cover;
  background-color: var(--background-color);
  border-color: var(--background-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  background-size: 100%;
  border-radius: 50%; 
}

.row-container{
  padding: 50px;
}

.certificates-intro, .tech-category-text {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem; 
  line-height: 1.8; 
  font-family: 'Roboto', sans-serif; 
}

h3{
  font-family: 'Roboto', sans-serif; 
  color: var(--text-color);
}

.home-container{
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

.buttons-container{
  margin-top: 30px;
  margin-bottom: 10px;
}

.home-icon {
  font-size: 35px;
  margin-right: 10px;
  color: var(--secondary-color);
  margin: 0 10px;
  text-decoration: none;
}

.home-icon:hover {
  color: var(--accent-color);
}

.colaborate-button, .work-button{
  margin-right: 30px;
  margin-top: 10px;
  width: 200px;
}

.colaborate-button {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important; 
  color: white; 
}

.colaborate-button:hover {
  background-color: #00a550!important; 
  border-color: #00a550 !important; 
  color: white; 
}

.work-button {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important; 
  color: white; 
}

.work-button:hover {
  background-color: var(--accent-color)!important; 
  border-color: var(--accent-color)!important; 
  color: white; 
}

.my-stack-col{
  max-height: 400px;
}

div.my-stack-col.col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

div.tech-card.card{
  border: 0px;
}

div.my-stack-col.col-lg-4.col-md-6.col-sm-12{
  min-width: 250px;
  padding-left: 0px;
  padding-right: 0px;
}


.github-row{
  height: 200px;
  padding: 10px 30px;
  margin-bottom: 50px;
}

.h4-github{
  color: var(--text-color);
}

.arrow-down{
  font-size: 1.5rem;
  color:var(--text-color);
}

.github-button{
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important; 
  color: white; 
  width: 250px;
  font-size: 1.4rem !important;
  border-radius: 12px !important;
}

.github-button:hover{
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important; 
}

h4.h4-github{
  margin: 0px;
  padding-top: 30px;
}

.shadow{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}