img.card-img{
    max-height: 170px;
    max-width: 170px;
}

.aboutme-container{
    max-width: 1280px; 
    margin: 0 auto;
    padding: 20px; 
}

.card-header-hobby{
    background-color:var(--primary-color) !important;
}

.soft-skills-row{
    margin-bottom: 100px;
}

.hobby-card{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.h3-softskills{
    padding-bottom: 20px;
}

.info-button{
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
    font-size: 30px !important;
    padding-bottom: 20px !important;
}

@media (max-width: 1024px) {
    .tooltip-info{
        width: 70px;
    }
}

.text-intro{
    font-size: 1.2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hobby-image{
    min-width: 100px;
}