.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--primary-color);
}

div.soft-card{
  background-color: var(--primary-color);
  border: 0px;
}
  
.soft-card {
  width: 150px;
  height: 250px;
  border: 3px solid #ef6ea7;
  background-color: var(--primary-color);
  perspective: 1000px;
}
  
.card-inner {
  background-color: var(--primary-color) !important;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
  
.soft-card:hover .card-inner {
  transform: rotateY(180deg); 
}
  
.card-front, .card-back {
  position: absolute;
  width: 150px;
  height: 250px;
  border: 3px solid #ef6ea7;
  border-radius: 10px;
  backface-visibility: hidden; 
  background-color: red;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.card-front {
  background-color: #f294bd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
  
.card-back {
  background-color: #c2ce7b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  transform: rotateY(180deg); 
}

.ribbon-icon{
  font-size: 50px;
}
  